{% extends 'layouts/app.html' %}

{% block content %}
<hr><hr><hr>
<hr><hr><hr>

<div class="jumbotron text-center">
    <h1 class="display-4">About RailJourney</h1>
    <p class="lead fs-4">Your premier destination for booking train tickets</p>
</div>

<div class="container content">
    <div class="row">
        <div class="col-md-6">
            <div class="feature-box text-center">
                <img src="https://cdn-icons-png.freepik.com/512/7156/7156578.png" height="150px" width="150px" alt="Mission Icon" class="mb-4">
                <h2>Our Mission</h2>
                <p class="fs-4">At RailJourney, we are dedicated to revolutionizing the way people book train tickets, making it easier than ever before to embark on memorable journeys.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="feature-box text-center">
                <img src="https://cdn-icons-png.flaticon.com/512/901/901049.png" height="150px" width="150px" alt="Innovation Icon" class="mb-4">
                <h2>Innovation at the Core</h2>
                <p class="fs-4">Incorporating the latest technological advancements, RailJourney offers cutting-edge features designed to enhance every aspect of your travel planning.</p>
            </div>
        </div>
        
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <div class="feature-box text-center">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIcsI9ga4r178_Ln0ORs2S2X6p_iYgO7bzQ9KssThY_w&s" height="150px" width="150px" alt="Booking Icon" class="mb-4">
                <h2>Seamless Booking Experience</h2>
                <p class="fs-4">Say goodbye to long queues and complex booking procedures. With RailJourney, booking train tickets is a breeze.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="feature-box text-center">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFBF41X-tY4Fg9nzxFBgIhv68qOfvUlvHihodkQJLRPQ&s"  height="150px" width="150px" alt="Customer Icon" class="mb-4">
                <h2>Customer-Centric Approach</h2>
                <p class="fs-4">At RailJourney, customer satisfaction is our top priority. We understand the diverse needs of modern travelers and are committed to delivering exceptional services.</p>
            </div>
        </div>
        
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="feature-box text-center">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgeBLhjmXE9f3TcdTy3wcrzZ13MZ4z9fF5Him1xHRhpw&s" height="150px" width="150px" alt="Sustainability Icon" class="mb-4">
                <h2>Empowering Sustainable Travel</h2>
                <p class="fs-4">As advocates for sustainable travel practices, RailJourney is committed to minimizing our environmental footprint.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="feature-box text-center">
                <img src="https://static.thenounproject.com/png/1972880-200.png" height="150px" width="150px" alt="Join Us Icon height" class="mb-4">
                <h2>Join Us on the RailJourney</h2>
                <p class="fs-4">Whether you're embarking on a solo adventure, planning a family vacation, or traveling for business, RailJourney invites you to experience the convenience, comfort, and reliability.</p>
            </div>
        </div>
    </div>
</div>
<br><br><br><br><br>
<br><br><br>
{% endblock %}
